@using SubiteQueTeLlevo.Services
@using SubiteQueTeLlevo.Data
@inject ViajesService viajeService
@page "/veracompañantes/{idViaje:int}"

<h3 class="text-center">Acompañantes</h3>
<div>
    @if (perfiles != null)
    {
        foreach (Perfil perfil in perfiles)
        {
            <div class="justify-content-center border-dark border d-flex flex-row my-2">
                <div style="flex-basis:50%; align-items:center">
                    <img src="/img/Pasajero.png" style="width:50%; display:block; margin-left:auto; margin-right:auto"/>
                </div>
                <div class="d-flex flex-column" style="flex-basis:50% ; justify-content:center">
                    <div class="justify-content-center"><h4 class="justify-content-center text-center">@perfil.UserName</h4></div>

                    <div class="text-center">
                        @for (int i = 0; i < perfil.ClasificacionPromedio; i++)
                        {
                            <span>&#x2605;</span>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>


@code {
    [Parameter]
    public int idViaje { get; set; }
    List<Perfil> perfiles;
    protected override Task OnInitializedAsync()
    {
        perfiles = viajeService.TraerViajePerfilIdV(idViaje);
        return base.OnInitializedAsync();
    }

}
