@page "/Buscar"
@using SubiteQueTeLlevo.Services
@using SubiteQueTeLlevo.Data
@inject ViajesService viajeService
@inject NavigationManager nav

<h1 class="text-center">BUSCAR VIAJE</h1>
<form @onsubmit="BuscarViaje">
    <div class="form-row mb-2" ><input class=" form-control inputText" @bind-value="patternO" placeholder="Origen" /></div>
    <div class="form-row mb-2 "><input class="form-control inputText" @bind-value="patternD" placeholder="Destino" /></div>
    <label>Fecha</label>
    <input type="date" @bind-value="fecha" />
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-success" style=" color:black; margin: 1em; box-shadow: 4px 4px black; border-radius:0; background-color:#3579DC; border-color:black; width:250px; height:70px; font-size: 20px; padding:1em; color:white;"
                value="Buscar">
            BUSCAR
        </button>
    </div>
    <h3 class="border-top border-bottom border-dark text-center">Viajes Proximos</h3>
</form>
@if (viajes != null)
{
    <div class="container">
        @foreach (var viaje in viajes)
        {
            <div class="border border-dark" @onclick="()=>ViajeDetalle(viaje.ViajeId)">
                <div class="row d-flex justify-content-around">
                    <div class="mx-3">@viaje.Origen.Ciudad.Nombre</div>
                    <div class="mx-3">@viaje.Destino.Ciudad.Nombre</div>

                </div>
                <div class="row d-flex justify-content-center">
                    <div class="mx-3">@viaje.FyHSalida</div>
                    <div class="mx-3">@(viaje.AsientosTotales - viaje.ViajePerfil.Count) Lugares Disponibles</div>
                </div>
            </div>

        }
    </div>
}

@code {
    List<Viaje> viajes;
    DateTime fecha=DateTime.Now;
    string patternO, patternD;
    protected void BuscarViaje()
    {
        viajes = viajeService.TraerViajeBusqueda(patternO, patternD, fecha);
    }
    protected void ViajeDetalle(int id)
    {
        nav.NavigateTo("/viaje/" + id);
    }
}