@page "/"

<div class="princi" style="background-color: #3579DC; height:100%; width: 100%;">


    <div class="row">
        <div class="col text-center">

            <a style=" color:black; margin: 2em; box-shadow: 4px 4px; border-radius:0; background-color:white;
                        border-color:black; width:250px; height:70px; font-size: 20px; padding:1em;"
               class="btn btn-primary" type="submit" href="./buscar">
                <b>BUSCAR VIAJE</b>
            </a>

        </div>
    </div>

    <div class="row">
        <div class="col text-center">

            <a style=" color:black; margin: 2em; box-shadow: 4px 4px; border-radius:0; background-color:white; border-color:black; width:250px; height:70px; font-size: 20px; padding:1em;"
               class="btn btn-primary" type="submit" href="./">
                <b>MIS VIAJES</b>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a style=" color:black; margin: 2em; box-shadow: 4px 4px; border-radius:0; background-color:white; border-color:black; width:250px; height:70px; font-size: 20px; padding:1em;"
               class="btn btn-primary" type="submit" href="./">
                <b>MI PERFIL</b>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a style=" color:black; margin: 2em; box-shadow: 4px 4px; border-radius:0; background-color:white; border-color:black; width:250px; height:70px; font-size: 20px; padding:1em;"
               class="btn btn-primary" type="submit" href="/identity/account/logout">
                <b>CERRAR SESION</b>
            </a>
        </div>
    </div>
    <br />
</div>
