@inherits LayoutComponentBase

<div class="page" style="height:100%">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" style="height:100%">
        <div class="top-row auth flexContainer">
            <LoginDisplay />
            <a style="color:white; font-size:20px" href="javascript: history.go(-1)">🢀</a>


            <p class="header m-0">SUBITE QUE TE LLEVO</p>


        </div>
        

        <div style="height:100%">
            @Body
        </div>
    </div>
</div>

