@inherits LayoutComponentBase

<div class="page" style="height:100%">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" style="height:100%">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div style="height:100%">
            @Body
        </div>
    </div>
</div>
